
body {
    margin: 0;    
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #fafafa;
}

header {
    color: white;
    min-height: 30px;
    width: auto;
    font-size: 20px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    padding: 30px;
    display: flexbox;
}

.header_left {
    float: left;
    color: white;
    display: inline-block;
}

.header_left > a {
    text-decoration: none;
}

.admin {
    color: white;
    display: inline-block;
    float: right;
}

.admin_logout {
    color: white;
    float: right;
    outline: none;
    background-color: black;
    font-family: 'Alata', sans-serif;
    border: none;
}

.admin > a {
    text-decoration: none;
}

main {
    min-height: 30px;
}



.mainbox {    
    width: auto;
    height: 47%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 150px;
    margin-bottom:200px;
    display: flex;
}

.main_title {
    float: left;
    width: 20%;
    height: 265px;
    text-align: right;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    background-color: rgba(36, 35, 35, 0.9);
    color: white;
    margin: 10px;
    float: left;
    padding: 70px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
    transition:background-color 1s;
}

.main_title:hover {
    background-color: #fafafa;
    color: black;
    writing-mode: vertical-rl;
}


footer {
    height: 90px;
    width: auto;
    font-size: 20px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    display: block;
}


.footer_left {
    font-family: 'Alata', sans-serif;
    color: white;
    display: inline-block;
    padding: 30px;
    float: left;
}

.footer_right {
    font-family: 'Alata', sans-serif;
    color: white;
    padding: 30px;
    display: inline-block;
    float: right;
}



