
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #fafafa;
}

header {
    color: white;
    min-height: 30px;
    width: auto;
    font-size: 20px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    padding: 30px;
    display: flexbox;
}

.header_left {
    float: left;
    color: white;
    display: inline-block;
}

.header_left > a {
    text-decoration: none;
}

.admin {
    color: white;
    display: inline-block;
    float: right;
}

.admin > a {
    text-decoration: none;
}

main {
    min-height: 30px;
}



.mainbox {    
    width: auto;
    height: auto;
    padding-left: 7%;
    margin-top: 150px;
    margin-bottom: 270px;
    display: flex;
}

.main_title {
    width: 10%;
    text-align: center;
    height: 250px;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    background-color: rgba(36, 35, 35, 0.9);
    color: white;
    margin: 10px;
    float: left;
    padding: 40px;
    padding: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;

}

.select_box {
    width: 60%;
    margin: 10px;
    margin-right: 10px;
    float: left;
}

.enter_number {
    text-align: center;
    font-size: 28px;
    width: 19.5%;
    height: 50%;
    float: left;
    font-family: 'Alata', sans-serif;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 2px 2px;
    transition: all 2s;
}

.enter_number2 {
    background-color: rgba(36, 35, 35, 0.9);
    color: white;
    text-align: center;
    font-size: 28px;
    width: 19.5%;
    height: 50%;
    float: left;
    font-family: 'Alata', sans-serif;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 2px 2px;
    transition: all 2s;
}

.enter_number > span {
    display: block;
    margin-top: 50px;
}

.enter_number2 > span {
    display: block;
    margin-top: 50px;
}

.input_number {
    text-align: center;
    font-size: 55px;
    width: 99%;
    height: 200px;
    font-family: 'Alata', sans-serif;
    float: left;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
}



.mainbox > a:hover {
    color: black;
    background-color: white;
    transition:background-color 1s;
    text-transform: uppercase;
}

/* .main_submit {
    display: inline-block;
    margin-left: 20px;
    width: 25%;
    height: 430px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    background-color: rgba(36, 35, 35, 0.9);
    color: white;
    margin: 10px;
    padding: 80px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
} */

footer {
    height: 90px;
    width: auto;
    font-size: 20px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    display: block;
}


.footer_left {
    font-family: 'Alata', sans-serif;
    color: white;
    display: inline-block;
    padding: 30px;
    float: left;
}

.footer_right {
    font-family: 'Alata', sans-serif;
    color: white;
    padding: 30px;
    display: inline-block;
    float: right;
}



