
body {
    margin: 0;
}



a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #fafafa;
}

header {
    color: white;
    min-height: 30px;
    width: auto;
    font-size: 20px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    padding: 30px;
    display: flexbox;
}

.header_left {
    float: left;
    color: white;
    display: inline-block;
}

.header_left > a {
    text-decoration: none;
}

.admin {
    color: white;
    display: inline-block;
    float: right;
}

.admin_logout {
    color: white;
    float: right;
    outline: none;
    background-color: black;
    font-family: 'Alata', sans-serif;
    border: none;
}

.admin > a {
    text-decoration: none;
}

main {
    min-height: 30px;
}

.mainbox {    
    width: auto;
    height: 100%;
    padding-left: 7%;
    margin-top: 150px;
    margin-bottom: 220px;
    display: flex;
}

.main_title {
    float: left;
    width: 25%;
    height: 238px;
    text-align: right;
    font-size: 90px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    background-color: rgba(36, 35, 35, 0.9);
    color: white;
    margin: 10px;
    float: left;
    padding: 70px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
    transition: all 2s;
}

.car_num {
    width: 30%;
    float: left;
    margin-top: 10px;
}



.enter_car1 {
    text-align: center;
    font-size: 50px;
    width: 50%;
    padding: 50px;
    float: left;
    font-family: 'Alata', sans-serif;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
}

.enter_car2 {
    text-align: center;
    font-size: 25px;
    width: 70%;
    padding: 50px;
    float: left;
    font-family: 'Alata', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
}


.out_car1{
    text-align: center;
    font-size: 50px;
    width: 50%;
    padding: 50px;
    font-family: 'Alata', sans-serif;
    float: left;
    border-radius: 5px;
    color: white;
    background-color: rgba(36, 35, 35, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
}

.out_car2{
    text-align: center;
    font-size: 40px;
    width: 70%;
    padding: 50px;
    height: 68px;
    font-family: 'Alata', sans-serif;
    float: left;
    border-radius: 5px;
    color: white;
    background-color: rgba(36, 35, 35, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
}


footer {
    height: 90px;
    width: auto;
    font-size: 20px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    display: block;
}


.footer_left {
    font-family: 'Alata', sans-serif;
    color: white;
    display: inline-block;
    padding: 30px;
    float: left;
}

.footer_right {
    font-family: 'Alata', sans-serif;
    color: white;
    padding: 30px;
    display: inline-block;
    float: right;
}



